<!DOCTYPE html>
<html>
<head>
<%=  result = @bikes.count puts result%>


<title>Rollin' Ric's</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h3>Inventory ={result}</h3>
</body>
</html>
<div>
</div>

<br>
<br>
<a href="/bikes">Bikes</a>
