<h2>Add Bike</h2>

<form action="/bikes" method="post">

  <label for="title">Category:</label>
  <select name="Category">
        <option value="Mens">Mens</option>
        <option value="Womens">Womens</option>
        <option value="Kids">Kids</option>
      </select><br>

  <label for="type">Type:</label>
  <select name="Type">
        <option value="Road">Road</option>
        <option value="Mountain">Mountain</option>
        <option value="Hybrid">Hybrid</option>
        <option value="BMX">BMX</option>
      </select><br>

  <label for="type">Brand:</label>
  <select name="Brand">
        <option value="Specialized">Specialized</option>
        <option value="Whyte">Whyte</option>
        <option value="Giant">Giant</option>
        <option value="Pinarello">Pinarello</option>
        <option value="Isla">Isla</option>
        <option value="Ghost">Ghost</option>
        <option value="Stolen">Stolen</option>
      </select><br>

  <label for="type">Model:</label>
  <input type="text" name="type"><br>

  <label for="type">Colour:</label>
  <input type="text" name="type"><br>

  <label for="type">Size:</label>
  <select name="Size">
        <option value="XL">XL</option>
        <option value="L">L</option>
        <option value="M">M</option>
        <option value="S">S</option>
      </select><br> 

  <label for="type">Price:</label>
  <input type="text" name="type"><br>

  <input type='submit' value="Add Bike!">
</form>


<br>
<br>
<a href="/">Back</a>